.statistic {
    padding-left: 100px;
    width: 1088px;
    height: 920px;
    border-radius: 20px;
    border: 1px solid #000;
    background: linear-gradient(126deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 255, 87, 0.60) 100%);
}
.statistic.uncomfortable {
    background: linear-gradient(126deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 138, 122, 0.60) 100%);
}

.stat {
    margin-top: 70px;
    font-size: 200px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -12px;
}

.stat-text {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.4px;
}