.emotion {
    padding: 60px;
    width: 713px;
    height: 493px;
    border-radius: 20px;
    background: #7AFFA7;
}

.emotion__text {
    font-size: 89px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -5.34px;
}
.emotion__text-norm {
    margin-top: 170px;
    font-size: 34px;
    font-weight: 400;
    line-height: 100%;
}