.days {
    border-radius: 20px;
    background: #000;
    width: 336px;
    height: 383px;

    padding: 50px 20px 30px;
}
.days__text {
    color: #fff;
    font-size: 55px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -3.3px;
}
.btn__days {
    cursor: pointer;
    margin-top: 120px;
    display: flex;
    width: 296px;
    height: 63.65px;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #FFF;
    background: #FFF;

    font-size: 25px;
    font-weight: 500;
    line-height: 100%; 
    letter-spacing: -1.5px;

    transition: all .2s linear;
}
.btn__days:hover {
    background: #000;
    color: #fff;
}