body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: 'Inter', sans-serif;
}

h1, p {
  padding: 0;
  margin: 0;
}

.h1__text {
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  letter-spacing: 46.99px;
  text-transform: uppercase;
  margin: 20px auto 33px;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.row {
  margin-top: 40px;
  width: 713px;
  display: flex;
  justify-content: space-between;
}

.col.uncomfortable .emotion {
  background: #FF8A7A;
}