body {
  font-family: "Inter", system-ui, sans-serif;
  margin: 0;
  padding: 0;
  color: #1d1d1d;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 50px auto;
  width: 100%;

  .main_title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 1.27em;
    text-transform: uppercase;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #000;

    .half {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: 1300px) {
      & {
        flex-direction: column-reverse;
      }
    }
  }
}
